<% layout("/layouts/boilerplate.ejs") %>
<body>
  <dvi class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Edit Listing</h3>
      <form action="/listings/<%=listing._id%>?_method=PUT" method="post" novalidate class="needs-validation" >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            name="listing[title]"
            value="<%= listing.title %>"
            required
          />
          <div class="valid-feedback">Title looks good!</div>
          <div class="invalid-feedback" >Title is required</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            class="form-control"
            name="listing[description]"
            cols="40"
            rows="5"
            required
          ><%= listing.description %>
          </textarea>
          <div class="invalid-feedback" >Description should be short</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input
            class="form-control"
            type="text"
            name="listing[image]"
            required
            value="<%= listing.image %>"
          />
          <div class="invalid-feedback" >Valid image link/URL required</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input
                class="form-control"
                type="number"
                name="listing[price]"
                value="<%= listing.price%>"
                required
              />
              <div class="invalid-feedback" >Price should be in positive number</div>
            </div>
          </div>
          <div class="mb-3 col-md-8">
            <div class="mb-34">
              <label for="country" class="form-label">Country</label>
              <input
                class="form-control"
                type="text"
                name="listing[country]"
                value="<%= listing.country %>"
                required
              />
               <div class="invalid-feedback" >Valid country name required</div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            class="form-control"
            type="text"
            name="listing[location]"
            value="<%= listing.location %>"
            required
          />
          <div class="invalid-feedback" >location should be correct</div>
        </div>
        <button class="btn btn-dark edit-btn mt-3 mb-2">Update listing</button>
      </form>
    </div>
  </dvi>
</body>
